body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.grid-container {
    display: grid;
}

.button-container {
    display: flex;
    justify-content: space-between;
    
}
