body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 300px;
}

.grid-container {
    display: grid;
}

.button-container {
    display: flex;
    justify-content: space-between;
    
}

button:hover{
    color: #0056b3;
}

body{
    text-align: center;
}
#container{
    display: inline-block;
}
